:host {
    // promote to root later

    --msc-top: 80px; // var(--msc-top, 80px)
    // msn mat side nav
    --msn-bg-color: aquamarine; // var(--msn-bg-color, red)
    --msn-bg-width: 180px; // var(--msn-bg-width, 180px)
    --msn-btn-rounding: 16px; // var(--msn-btn-rounding, 16px)
    --msn-btn-bg-hover: aquamarine; // var(--msn-btn-bg-hover, aquamarine)
    --msn-btn-hover-padding: 10px; // var(--msn-btn-hover-padding, 10px) // allows a visual flick jump
    --msn-btn-color: mediumpurple; // var(--msn-bg-color, red)
    --msn-btn-arrow-size-font-size: 16px; // var(--msn-btn-arrow-size-font-size, 20px)

    --msn-btn-bg-color: white; // var(--msn-btn-bg-color, white)
    --msn-btn-transition: ease-in-out 0.8s; // var(--msn-btn-transition,    ease-in-out 0.8s)

    ;


    // msc mat sidenav content in the middle i.e. essentially the main content body
    --msc-padding: 6px; // var(--msc-padding, 8px)
    --msc-bg-color: white; // var(--msc-bg-color, red)
}

.hidden {
    display: none !important;
}

/* the container for the sidebars and the centre content */

.mat-sidenav-container-main {
    position: absolute;
    top: var(--msc-top, 80px); // allow for navbar(s)
    bottom: 0;
    left: 0;
    right: 0;
}

 
// unicode arrows
.msn-arrow-size {
    font-size: var(--msn-btn-arrow-size-font-size, 20px);
}

.msn-start {
    // left side
    padding-right: 0;
}

.msn-end {
    // left side
    padding-right: 0;
}

.msn-button-bar {
    display: flex;
    justify-content: space-between;
}

.msn-side-default {
    background-color: var(--msn-bg-color, white);
    width: var(--msn-bg-width, 180px);
}


.msn-btn-default {
    //  position: absolute;
    //  top:-10px;

    background-color: var(--msn-btn-bg-color, red);
    transition: var(--msn-btn-transition, ease-in-out 0.8s)
}

.msn-btn-default:hover {
    background-color: var(--msn-btn-bg-hover, aquamarine);
}

.msnbtn1 { // left side
    position: fixed;    // ensure the button stays in place when scrolling
    left: 0;
    margin-left: 2px;
    padding-left: 3px;
    padding-right: 5px;
    border-top-right-radius: var(--msn-btn-rounding, 10px);
    border-bottom-right-radius: var(--msn-btn-rounding, 10px);
    border-left: 0;
}

.msnbtn2 { // right side
    position: fixed;    // ensure the button stays in place when scrolling
    right: 0;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 3px;
    border-top-left-radius: var(--msn-btn-rounding, 10px);
    border-bottom-left-radius: var(--msn-btn-rounding, 10px);
    border-right: 0;
}

.msnbtn1:hover {
    // may not be relevant for smaller devices when visible as may not use hover
    padding-left: var(--msn-btn-hover-padding, 10px);
}

.msnbtn2:hover {
    padding-right: var(--msn-btn-hover-padding, 10px);
}

/* main scrollable content */
.msc {
    padding-top: 0;
    padding-left: var(--msc-padding, 8px);
    padding-right: var(--msc-padding, 8px);
    padding-bottom: var(--msc-padding, 8px);
    background-color: var(--msc-bg-color, red);
 }

 .msn-btn-close-left {
   float: right;
   top: 0;
     border-top-left-radius: var(--msn-btn-rounding, 10px);
    border-bottom-left-radius: var(--msn-btn-rounding, 10px);
 }

 .msn-btn-close-right {
    float: left;
        border-top-right-radius: var(--msn-btn-rounding, 10px);
    border-bottom-right-radius: var(--msn-btn-rounding, 10px);
 }

 .msnside-links {
    margin-top: 10px;
 }