<div class="hg-view-container d-flex flex-column overflow-hidden flex-grow-1">

    <nav class="hg-nb-view-local navbar navbar-light bg-warning navbar-expand rounded ms-1 me-1 flex-shrink-0">
        <a class="navbar-brand ms-2">View4</a>
        <ul class="navbar-nav">

        </ul>
        <!--  
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="#" class="nav-link">Options</a></li>
            </ul>
            -->
    </nav>

    <div class="hg-view-content d-flex flex-column flex-grow-1 overflow-hidden ms-1 pe-1">
        <!-- 100 view and centre scoll -->

        <mat-sidenav-container class="mat-sidenav-container-main ">

            <mat-sidenav #matsidenav1 opened mode="side" position="start" class="msn-side-default msn-start">
                <div class="d-flex flex-column ">
                    <button aria-label="Close Left Drawer" mat-button (click)="toggle_msn_single(matsidenav1)"
                        [class.hidden]="sidenav_mode ==='side'" class="msn-btn-close msn-btn-close-left ms-auto">
                        <span class="msn-arrow-size msn-btn-facing-left">&#8612;</span>
                    </button>
                    <div class="msn-side-links">
                        <div class="hg-sb hg-sb1 mh-100 scroll-y  ps-1 pb-3"> <!-- pb-3 for scrolling at bottom -->

                            <h6 class="mt-1">Sidebar1</h6>
                            <ul class="nav flex-column">
                                <li class="nav-item"><a [routerLink]="['']" class="nav-link">Status</a></li>
                                <li class="nav-item"><a [routerLink]="['/view1']" class="nav-link">View 1</a>
                                </li>
                                <li class="nav-item"><a [routerLink]="['/view2']" class="nav-link">View 2</a>
                                </li>
                                <li class="nav-item"><a [routerLink]="['/view3']" class="nav-link">View 3</a>
                                </li>
                                <li class="nav-item"><a [routerLink]="['/view4']" class="nav-link">View 4</a>
                                </li>
                                <li class="nav-item"><a [routerLink]="['/delivery']" class="nav-link">Delivery</a>
                                </li>
                                <li class="nav-item"><a [routerLink]="['/grid']" class="nav-link">Grid</a></li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link6</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link7</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link8</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link9</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link6</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link7</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link8</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link9</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link6</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link7</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link8</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link9</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link6</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link7</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link8</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link9</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link6</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link7</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link8</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link9</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </mat-sidenav>

            <mat-sidenav #matsidenav2 opened mode="side" position="end" class="msn-side-default msn-end">

                <div class="d-flex flex-column">

                    <button aria-label="Close Right Drawer" mat-button (click)="toggle_msn_single(matsidenav2)"
                        [class.hidden]="sidenav_mode ==='side'" class="msn-btn-close msn-btn-close-right me-auto"><span
                            class="msn-arrow-size msn-btn-facing-right">&#8614;</span></button>

                    <div class="msn-side-links">
                        <div class="hg-sb hg-sb1 mh-100 scroll-y  ps-1 pb-3"> <!-- pb-3 for scrolling at bottom -->

                            <h6 class="mt-1">Sidebar2</h6>

                            <ul class="nav flex-column">
                                <li class="nav-item"><a [routerLink]="['']" class="nav-link">Status</a></li>
                                <li class="nav-item"><a [routerLink]="['/view1']" class="nav-link">View 1</a>
                                </li>
                                <li class="nav-item"><a [routerLink]="['/view2']" class="nav-link">View 2</a>
                                </li>
                                <li class="nav-item"><a [routerLink]="['/view3']" class="nav-link">View 3</a>
                                </li>
                                <li class="nav-item"><a [routerLink]="['/view4']" class="nav-link">View 4</a>
                                </li>
                                <li class="nav-item"><a [routerLink]="['/delivery']" class="nav-link">Delivery</a>
                                </li>
                                <li class="nav-item"><a [routerLink]="['/grid']" class="nav-link">Grid</a></li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link6</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link7</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link8</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link9</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link6</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link7</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link8</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link9</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link6</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link7</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link8</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link9</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link6</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link7</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link8</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link9</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link6</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link7</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link8</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link9</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </mat-sidenav>

            <mat-sidenav-content class="msc h-100 d-flex flex-column">

                <!-- vh-100 pb-3 needed for safe 100% scrolling -->

                <div class="  d-flex flex-column flex-grow-1 scroll-y mh-100  rounded ms-1 me-1 ps-2 pe-2 pb-5">

                <div class="msn-button-bar">
                    <!-- 
                            STICKY 
                            buttons to open are hidden when sidebars displayed on larger devices
                                 buttons are fixed left and right
                               
                            -->
                    <button mat-button (click)="toggle_msn_single(matsidenav1)" aria-label="Open Left Drawer"
                        [class.hidden]="sidenav_mode ==='side'" class="msn-btn-default msnbtn1"><span
                            class="msn-arrow-size msn-btn-facing-right">&#8614;</span></button>

                    <span class="m-auto">{{currentBreakpointKey}} - {{sidenav_mode}} - {{
                        currentBreakpoint}}</span>

                    <button mat-button (click)="toggle_msn_single(matsidenav2)" aria-label="Open Right Drawer"
                        [class.hidden]="sidenav_mode ==='side'" class="msn-btn-default msnbtn2 "><span
                            class="msn-arrow-size msn-btn-facing-left">&#8612;</span></button>

                </div>

                    <div class="scroll-y vh-100 pb-0 pe-1"> <!-- vh-100 very important-->


                        <h1>Some content</h1>
                    </div>

                </div>

            </mat-sidenav-content>

        </mat-sidenav-container>

    </div>

</div>