// styles.scss

@use '@angular/material' as mat;
@use 'style-theme-colors' as colors;

@use '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@use '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import '@danielmoncada/angular-datetime-picker/assets/style/picker.min.css';


/* You can add global styles to this file, and also import other style files */
:root {
    --bg-default: yellow;
    --bg-sidemenu: rgb(212, 212, 231);

    /* nav related */
    --nav-menu-font-size: 16px;
    --nav-menu-height: 32px;
    --mobile-menu-top: calc(var(--nav-menu-height) - 4px); // may need to adjust relative to nav-menu-height
    --mobile-menu-width: 180px;
    --menu-transition: 0.5s ease-in-out; // responsive slide in/out
    --menu-item-hover-transition: 0.8s ease-in-out;
    --hg-nb-view-local-height: var(--nav-menu-height);
    --hg-nb-view-local-hover-color: grey;

    //}
    //:root {
    // promote to root later

    --msc-top: 70px; // var(--msc-top, 80px)
    // msn mat side nav
    --msn-bg-color: aquamarine; // var(--msn-bg-color, red)
    --msn-bg-width: 120px; // var(--msn-bg-width, 120px)
    --msn-btn-rounding: 16px; // var(--msn-btn-rounding, 16px)
    --msn-btn-bg-hover: aquamarine; // var(--msn-btn-bg-hover, aquamarine)
    --msn-btn-hover-padding: 10px; // var(--msn-btn-hover-padding, 10px) // allows a visual flick jump
    --msn-btn-color: mediumpurple; // var(--msn-bg-color, red)
    --msn-btn-arrow-size-font-size: 16px; // var(--msn-btn-arrow-size-font-size, 20px)
    --msn-btn-bg-color: white; // var(--msn-btn-bg-color, white)
    --msn-btn-z-index: 2; // var(--msn-btn-z-index, 4)

    --msn-btn-transition: ease-in-out 0.8s; // var(--msn-btn-transition,    ease-in-out 0.8s)
    --default-transition: ease-in-out 0.8s; // var(--default-transition,    ease-in-out 0.8s)
    ;


    // msc mat sidenav content in the middle i.e. essentially the main content body
    --msc-padding: 6px; // var(--msc-padding, 8px)
    --msc-bg-color: white; // var(--msc-bg-color, red)
}




@property --nav-background {
    syntax: "<color>";
    inherits: false;
    initial-value: #e0564f;
}


html,
body {

    animation: none !important;   // https://angular.dev/guide/animations/migration#animating-a-transition
    transition: none !important;

    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    @include mat.theme((color: colors.$primary-palette,
            typography: Roboto,
            density: -5)); // minus values   -1 to -5; -5 smallest height
}

html {
    color-scheme: light; // browser standard based on o/s used in nav bar toggle could peristent to localstorage
}

html.dark {
    color-scheme: dark; // browser standard based on o/s used in nav bar toggle could peristent to localstorage
}

html {
    overflow: hidden;
}

.no-animation {
    animation: none !important;
    transition: none !important;
}

main {
    // contains router-outlet so 
    padding: 0px;
}

.bg-default {
    background: var(--bg-default);
}

.bg-sidemenu {
    background: var(--bg-sidemenu);
}

.hg-sb ul {
    // side menu 
    background: var(--bg-sidemenu);
    border-radius: var(--bs-border-radius);

    li a {
        color: black;
        padding-left: 6px;
    }
}

.scroll-y,
.overflow-y {
    overflow-y: scroll;
}

/*
scrollbar newer browsers
*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.hg-nb-view-local {
    height: var(--hg-nb-view-local-height);
}

.hg-view-container {
    /*  global to all components in router-outlet
      use local component .scss if need to be unique to that component
  */

    nav {
        // padding: 1rem;
        font-size: var(--mat-sys-body-medium);
        color: var(--mat-sys-primary);
        background-color: var(--mat-sys-primary-container);
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav ul li {
        margin-right: 10px;
    }

    nav ul li a {
        text-decoration: none;
        padding: 4px 4px;
        display: block;
        cursor: pointer;
    }

    nav ul li a:hover {
        color: var(--mat-sys-primary);
        background-color: var(--mat-sys-surface);
        border-radius: 4px;
        transition: var(--menu-item-hover-transition, 0.8s);
        // padding: 4px;
    }


}

// .hg-view-container 


mat-form-field:hover {
    background-color: antiquewhite;
    // need to allow for the border jump
    //   border-style: dotted;
    //  border-color: #e0564f;
}

.hidden {
    display: none !important;
}



/* responsive header/navbar */
/*           >       >           >          >           >            > 
  xs: 0,  sm: 576px, md: 768px,  lg: 992px, xl: 1200px, xxl: 1400px, xxxl: 2560px  
*/
@media screen and (max-width:576px) {

    // responsible for the small device toggle for menu and X  to close responsive app menu
    header:has(#toggle:checked) #navigation {
        height: var(--menu-height, 5rem);
    }

    header:has(#toggle:checked) #menu-icon {
        display: none;
        height: 0px;
        visibility: hidden;
    }

    header:has(#toggle:checked) #close-icon {
        display: inline-block;
        visibility: visible;
    }

    .sm\:overflow-auto {
        overflow: auto;
    }

    .sm\:flex-row {
        flex-direction: row;
    }

}


/*

originally status nav content

*/

/* the container for the sidebars and the centre content */



// unicode arrows

.bg-magenta {
    background-color: magenta;
}


.msn-button-bar {
    display: flex;
    justify-content: space-between;
}

.msn-side-default {
    background-color: var(--msn-bg-color, white) !important; 
    width: var(--msn-bg-width, 120px) !important;
    transition: var(--default-transition, ease-in-out 0.8s)
}

.msn-btn-default {
    //  position: absolute;
    //  top:-10px;

    z-index: var(--msn-btn-z-index, 4); // .mat-drawer-backdrop is 3, so this allows both sides in play

    background-color: var(--msn-btn-bg-color, red);
    transition: var(--msn-btn-transition, ease-in-out 0.8s)
}

.msn-btn-default:hover {
    background-color: var(--msn-btn-bg-hover, aquamarine);
}

.msnbtn1 {
    // left side
    position: fixed; // ensure the button stays in place when scrolling
    left: 0;
    margin-left: 4px; // to hide imprint behind when menu displayed
    padding-left: 3px;
    padding-right: 5px;
    border-top-right-radius: var(--msn-btn-rounding, 10px);
    border-bottom-right-radius: var(--msn-btn-rounding, 10px);
    border-left: 0;
}

.msnbtn2 {
    // right side
    position: fixed; // ensure the button stays in place when scrolling
    right: 0;
    margin-right: 4px; // to hide imprint behind when menu displayed
    padding-left: 5px;
    padding-right: 3px;
    border-top-left-radius: var(--msn-btn-rounding, 10px);
    border-bottom-left-radius: var(--msn-btn-rounding, 10px);
    border-right: 0;
}

.msnbtn1:hover {
    // may not be relevant for smaller devices when visible as may not use hover
    padding-left: var(--msn-btn-hover-padding, 10px);
}

.msnbtn2:hover {
    padding-right: var(--msn-btn-hover-padding, 10px);
}

/* main scrollable content */
.msc {
    padding-top: 0;
    padding-left: var(--msc-padding, 8px);
    padding-right: var(--msc-padding, 8px);
    padding-bottom: var(--msc-padding, 8px);
    background-color: var(--msc-bg-color, red);
}

.msn-btn-close-left {
    float: right;
    top: 0;
    margin-right: 8px;
    border-top-left-radius: var(--msn-btn-rounding, 10px);
    border-bottom-left-radius: var(--msn-btn-rounding, 10px);
}

.msn-btn-close-right {
    float: left;
    border-top-right-radius: var(--msn-btn-rounding, 10px);
    border-bottom-right-radius: var(--msn-btn-rounding, 10px);
    margin-left: 8px;
}

.msnside-links {
    margin-top: 10px;
}

/////


/*
    Adhoc Questions
 */

.adhoc-container {
    border-style: dashed;
    border-color: magenta;
    border-width: 1px;
    display: flex;
    flex-direction: column;
        transition: var(--default-transition, 0.8s);
}

.adhoc-container:hover {
  background-color: aquamarine;
}

 
.adhoc-input {
    display: flex !important;
    flex-direction: row !important;
}

.adhoc-label {
    display: flex !important;
    flex-direction: row !important;
    margin-top: auto !important;
}


/*  
for dialogs 
*/

.dialogHeader {
    display: flex;
    justify-content: space-between;
    font-weight: 700 !important;
    padding-top: 4px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 2px;
    // background-color: red;
}