<div class="hg-view-container d-flex flex-column overflow-hidden flex-grow-1">

    <nav class="hg-nb-view-local navbar navbar-light bg-warning navbar-expand rounded  ms-5 me-5 flex-shrink-0">
        <a class="navbar-brand ms-2" href="#">VIEW1</a>
        <ul class="navbar-nav">

            <li><a [routerLink]="['']">Status</a></li>
            <li><a [routerLink]="['/view1']">View 1</a></li>
            <li><a [routerLink]="['/view2']">View 2</a></li>
            <li><a [routerLink]="['/view3']">View 3</a></li>
            <li><a [routerLink]="['/view4']">View 4</a></li>
            <li><a [routerLink]="['/delivery']">Delivery</a></li>
            <li><a [routerLink]="['/grid']">Grid</a></li>

        </ul>
        <!-- 
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="#" class="nav-link">Options</a></li>
            </ul>
            -->
    </nav>

    <div class="hg-view-content d-flex flex-row flex-grow-1 overflow-hidden ms-1 pe-1"> <!-- 100 view and centre scoll -->

        <!-- a row of 3 items, each of which is a column -->

        <mat-sidenav-container class="mat-sidenav-container-main row">
            <mat-sidenav #matsidenav1 opened [mode]="mode1.value" position="start" class="mat-sidenav-default">
                <button mat-button (click)="toggleSideNav('#sidenav1')" class="toggle-default toggle1">T1 -> </button>
                <button mat-button (click)="toggleSideNav('#sidenav2')" class="toggle-default toggle2"><- T2</button>
                        <p>
                            <mat-radio-group class="mode-radio-group" [formControl]="mode1">
                                <label>Mode:</label>
                                <mat-radio-button value="over">Over</mat-radio-button>
                                <mat-radio-button value="side">Side</mat-radio-button>
                                <mat-radio-button value="push">Push</mat-radio-button>
                            </mat-radio-group>
                        </p>
            </mat-sidenav>

           <mat-sidenav #matsidenav2 opened [mode]="mode2.value" position="end" class="mat-sidenav-default">
                <button mat-button (click)="toggleSideNav('#sidenav1')" class="toggle-default toggle1">T1 -> </button>
                <button mat-button (click)="toggleSideNav('#sidenav2')" class="toggle-default toggle2"><- T2</button>
 
                        <p>
                            <mat-radio-group class="mode-radio-group" [formControl]="mode2">
                                <label>Mode2:</label>
                                <mat-radio-button value="over">Over</mat-radio-button>
                                <mat-radio-button value="side">Side</mat-radio-button>
                                <mat-radio-button value="push">Push</mat-radio-button>
                            </mat-radio-group>
                        </p>
            </mat-sidenav>

            <mat-sidenav-content class="h-100 d-flex flex-column">

            <div
                class="hg-view-body-top-content d-flex flex-column flex-grow-1 scroll-y mh-100 rounded ms-1 me-1 ps-2 pe-2 ">
 
              <div class="button-container">
                    <button mat-button (click)="sidenav1.toggle()" class="toggle-default toggle1">T1 -> </button>
                    <button mat-button (click)="sidenav2.toggle()" class="toggle-default toggle2"><- T2</button>
                </div>

                <div class="QWERTYU vh-100 scroll-y p-3" >  <!-- vh-100 pb-5 needed for safe 100% scrolling -->
               
                    <div class="bg-success bg-gradient text-white">
                         Used to test ideas, not in finished state, T2 and side2 not using 'side', wasted too much time on why, when status view is as expected
                    </div>
                    @if(1) {
                        <latin></latin>
                    }
                    
                </div>



            </div>

        
            </mat-sidenav-content>

 

        </mat-sidenav-container>

    </div>

</div>