<div class="hg-view-container d-flex flex-column overflow-hidden flex-grow-1 ">

    <div class="flex-shrink-0">
        <div class="dialogHeader d-flex ps-3 pe-3">
            <span>Dialog Header</span> <!-- admin balance       >Balance< -->

            <div [innerHtml]="data?.title | safe" aria-label="{{data?.title}}"></div>

            <button type="button" class=" " mat-dialog-close class="dialogCloseX" aria-label="Close Dialog"
                (click)="closeDialogX()">
                &#x2715;
            </button>
        </div>
    </div>

<!--  -->
<div class="hg-view-container d-flex flex-column overflow-hidden flex-grow-1"> 

<status #inDialog> </status>

 
<!-- -->

</div>

    <div
        class='hg-view-body-sticky-footer d-flex flex-row row flex-shrink-0 bg-secondary bg-gradient text-white rounded ms-1 me-1'>
        <div mat-dialog-actions class="d-flex flex-row me-3 justify-content-end ">

            <button mat-button (click)="resize('500px')" class="text-white">resize(500)</button>
            <button mat-button (click)="resize('600px')" class="text-white">resize(600)</button>
            <button mat-button (click)="resize('800px')" class="text-white">resize(800)</button>
            <button mat-button (click)="resize('98%')" class="text-white">resize(100%)</button>

            <button mat-button mat-dialog-close class="text-white" aria-label="Close Dialog">Close</button>

            <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Accept</button> -->
        </div>
    </div>

    
</div>